TF_Content: |-
  #!/bin/sh

  terraform init
  terraform apply --auto-approve
  kubectl get ns
TF_Repo:
  key: ecserver
  title: SakshiParasar/ecserver
  owner: SakshiParasar
  default_branch: main
  id: 499009128
TF_Branch: main
TF_Git_path: /
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy
lastUpdatedBy: Sakshi Parasar
lastUpdatedOn: 2022-09-08T09:26:49.636Z
