TF_Content: |-
  #!/bin/sh

  terraform init
  terraform apply --auto-approve
  kubectl get ns
TF_Repo:
  key: ecserver
  title: SakshiParasar/ecserver
  owner: SakshiParasar
  default_branch: main
  id: 499009128
TF_Branch: main
TF_Git_path: /
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy
app_dependencies:
  type: text
  content: |
    #!/bin/sh

    # make all
    # docker build
    docker build -f ecserver/Dockerfile -t ecserver:$GIT_COMMIT_ID ecserver 
    docker tag ecserver:$GIT_COMMIT_ID  ecserver:$ROOST_NAMESPACE  
    cd ./ && make
app_deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Sakshi Parasar
lastUpdatedOn: 2022-09-08T09:27:17.543Z
