TF_Content: |-
  #!/bin/sh

  terraform init
  terraform apply --auto-approve
TF_Repo:
  key: ecserver
  title: SakshiParasar/ecserver
  owner: SakshiParasar
  default_branch: main
  id: 499009128
TF_Branch: main
TF_Git_path: ecserver
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy
lastUpdatedBy: Sakshi Parasar
lastUpdatedOn: 2022-08-04T05:35:51.099Z
