build:
  type: text
  content: |-
    #!/bin/sh


    docker build -f ecserver/Dockerfile -t ecserver:$GIT_COMMIT_ID ecserver 
    docker tag ecserver:$GIT_COMMIT_ID  ecserver:$ROOST_NAMESPACE  
    docker build -f ecserver/Dockerfile -t ecserver:$GIT_COMMIT_ID ecserver 
    docker tag ecserver:$GIT_COMMIT_ID  ecserver:$ROOST_NAMESPACE  
    cd ./ && make
    cd ./ && make
deploy:
  type: text
  content: |
    #/bin/sh


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"


    helm upgrade test-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test:
  - name: ecserver
    configType: artillery
    configPath: ecserver/ingress.yaml
  - name: ecserver
    configType: artillery
    configPath: ecserver/ecserver.yaml
  - name: ecserver
    configType: artillery
    configPath: ecserver/test/test.yaml
uninstall:
  type: None
  content: ''
dockerCompose: ecserver/ingress.yaml
lastUpdatedBy: Sakshi Parasar
lastUpdatedOn: 2023-02-24T06:09:13.418Z
